* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 19.2px;
}

.container {
  width: 91%;
  max-width: 91.77rem;
  margin: 0 auto;
}

body {
  background-color: #060D27;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}