@media screen and (max-width: 1660px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }

  .menu .menu__list {
    transform: scale(.8) translateX(-3.5rem);
  }

  table {
    padding: 0;
  }

  section .title {
    width: 70%;
  }

  .main {
    position: relative;
  }

  .main .container {
    padding: .42rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
    background-image: url("../img/mbg.png");
  }

  .dayIntroduced__left .dayIntroduced__left__item:last-child,
  .dayIntroduced__right .dayIntroduced__right__item {
    transform: scale(.8);
  }

  .dayIntroduced__left .dayIntroduced__list__item span {
    width: 13rem;
  }

  .dayIntroduced__right .dayIntroduced__list__item span {
    width: auto;
  }

  .dayIntroduced__right {
    margin-left: 0;
    text-align: right;
  }

  .menu .menu__list .menu__list__item {
    width: fit-content;
    font-size: .45rem;
  }

  .menu .menu__list .menu__list__item+.menu__list__item {
    margin-left: 1.25rem;
  }

  .calendar {
    width: 100%;
    margin-right: 0;
    padding: .5rem;
  }

  section .time .time__month .time__month--info {
    margin-top: .83rem;
  }

  section .time .time__month {
    position: absolute;
    left: 50%;
    top: 18rem;
    margin-left: 0;
    font-size: 0.73rem;
    transform: translateX(-50%);
  }

  section .time .time__month .time__bg {
    width: 7.3rem;
    right: 50%;
    top: auto;
    bottom: 50%;
    transform: translate(50%, 50%);
  }

  .tl-toubu p {
    font-size: 1.5rem;
  }

  .ri-toubu-right img {
    width: 1.5rem;
  }

  section .time .time__current {
    font-size: 1rem;
    transform: scale(.8) translateY(-.8rem);
  }

  section .time .time__current .time__current--hs {
    margin-top: 1rem;
  }

  .dayIntroduced__left__item:first-child {
    position: absolute;
    top: 0rem;
    right: 2%;
    transform: scale(.8);
  }

  .tl-toubu .ri-toubu-right div span {
    font-size: 1rem;
  }

  .dayIntroduced__item__title {
    margin-bottom: .5rem;
  }

  .dayIntroduced__left .dayIntroduced__left__item:first-child .dayIntroduced__item__title p {
    justify-content: end;
  }

  .dayIntroduced__left__item:first-child .dayIntroduced__item__list {
    text-align: right;
  }

  .end {
    font-size: 1rem;
  }

  .ft__menu {
    transform: scale(.8);
  }
  .footer {
    padding-bottom: 0;
  }
  .footer .ft__menu__list .menu__list__item+.menu__list__item {
    margin-left: 1.25rem;
  }
  .ft__tip {
    transform: scale(.7) translateX(-6rem);
  }
  .ft__tip span:last-child {
    display: block;
    width: fit-content;
    transform: translate(18rem, -1.4rem);
  }
}

@media screen and (max-width: 375px) {

  .time__current {
    display: none;
  }


}